<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6f42c1;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">TutorHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Upload Resource", new_resource_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Browse Resources", browse_resources_path, class: "nav-link text-light" %>
        </li>
        </ul>

<div class="navbar-nav ms-auto"> <%# ms-auto pushes content to the right %>

  <% if user_signed_in? %>
    
    <%# Optional: Display the user's name/email %>
    <span class="navbar-text me-3 text-light">
      Welcome, <%= current_user.try(:name) || current_user.email %> 
    </span>
    
    <%# Sign Out button %>
    <%= link_to "Sign Out", sign_out_path, data: { turbo_method: :delete }, class: "btn btn-light" %>

  <% else %>

    <%# Sign In button %>
    <%= link_to "Sign In", sign_in_path, class: "btn btn-primary me-2" %>
    
    <%# Create an Account button %>
    <%= link_to "Create an Account", new_createaccount_path, class: "btn btn-info" %>

  <% end %>

</div>

    </div>
  </div>
</nav>
