<div class="container">
<br>
  <h1 class="text-center mb-4">Browse All Resources</h1>

<table class="table table-striped table-hover align-middle">
  <thead class="table-light">
    <tr>
      <%# --- SORTING LINK: Title (Kept simple) --- %>
      <th scope="col">Title</th>

      <%# --- DROPDOWN FILTER: SUBJECT --- %>
      <th scope="col" class="text-center">
        <div class="dropdown">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Subject
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "All Subjects", resources_path(subject: nil), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Math", resources_path(subject: 'Math'), class: "dropdown-item" %></li>
            <li><%= link_to "History", resources_path(subject: 'History'), class: "dropdown-item" %></li>
          </ul>
        </div>
      </th>
      
      <%# --- DROPDOWN FILTER: LEVEL --- %>
      <th scope="col" class="text-center">
        <div class="dropdown">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Level
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "All Levels", resources_path(level: nil), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "GCSE", resources_path(level: 'GCSE'), class: "dropdown-item" %></li>
            <li><%= link_to "A-Level", resources_path(level: 'A-Level'), class: "dropdown-item" %></li>
          </ul>
        </div>
      </th>
      
      <%# --- DROPDOWN FILTER: RESOURCE TYPE --- %>
      <th scope="col" class="text-center">
        <div class="dropdown">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resource Type
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "All Types", resources_path(type: nil), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "PDF", resources_path(type: 'PDF'), class: "dropdown-item" %></li>
            <li><%= link_to "Video", resources_path(type: 'Video'), class: "dropdown-item" %></li>
          </ul>
        </div>
      </th>
      
      <%# --- SORTING LINK: Tutor --- %>
      <th scope="col" class="text-center">Tutor</th>
      
      <%# --- SORTING LINK: Rating --- %>
      <th scope="col" class="text-center">
        <%= link_to "Rating", resources_path(sort: 'rating', direction: 'desc'), class: "text-decoration-none text-dark" %>
      </th>

        <th scope="col" class="text-center">
        <%= link_to "Download", resources_path(sort: 'download', direction: 'desc'), class: "text-decoration-none text-dark" %>
      </th>
    </tr>
    </thead>
</table>


  <% if @resources.any? %>
  <div class="row">
    <% @resources.each do |resource| %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= resource.title %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= resource.description %></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <a href="<%= resource.upload_file_or_link %>" class="card-link" target="_blank">View Resource</a>
            <%= link_to "Edit Resource", edit_resource_path(resource), class: "card-link" %>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <p class="text-center">No resources uploaded yet.</p>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to "Upload New Resource", new_resource_path, class: "btn btn-primary" %>
  </div>
    <br>
</div>
</div>
