<%= render 'form', resource: @resource %> 

<h1>Edit Resource: <%= @resource.title %></h1>

<%= form_with(model: @resource, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="actions">
    <%= form.submit "Update Resource" %>
  </div>
<% end %>

<%= link_to 'View Resource', resource_path(@resource) %> |
<%= link_to 'Back to Browse', browse_resources_path %>