<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">  <%# Sets column width and centers text %>

      <h3>Upload New Resource</h3>

      <%= form_with(model: @resource, local:true) do |form| %>
        
        <div class="mb-3">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control" , required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :subject, class: "form-label" %>
          <%= form.text_field :subject, class: "form-control" , required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :grade_level, class: "form-label" %>
          <%= form.text_field :grade_level, class: "form-control" , required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :resource_type, class: "form-label" %>
          <%= form.text_field :resource_type, class: "form-control" , required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :upload_file_or_link, class: "form-label" %>
          <%= form.text_field :upload_file_or_link, class: "form-control" , required: true %>
        </div>

      <div class="d-flex justify-content-center">

          <%= form.submit "Upload Resource", class: "btn btn-primary me-3" %>

        <br>

          <%= link_to "Delete Resource", @resource, 
              data: { 
                turbo_method: :delete,           # Uses Turbo to send a DELETE request
                turbo_confirm: "Are you sure?"   # Prompts the user for confirmation
              }, 
              class: "btn btn-primary" %>

      </div>

      <% end %>

      <br>

      <%= link_to "Back to Browse Resources", browse_resources_path, class: "btn btn-secondary" %>
      
    </div>
  </div>
</div>
