<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">  <%# Sets column width and centers text %>

      <h3>Upload New Resource</h3>

      <%= form_with(model: @resource) do |form| %>
        
        <div class="mb-3">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :upload_file_or_link, class: "form-label" %>
          <%= form.text_field :upload_file_or_link, class: "form-control" %>
        </div>

        <div class="d-grid"> <%# d-grid makes the submit button full width %>
          <%= form.submit "Upload Resource", class: "btn btn-primary" %>
        </div>

      <% end %>

      <br>
      
    </div>
  </div>
</div>
