<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">  <%# Sets column width and centers text %>

       <h2 class="text-center"><%= t('forms.sign_in') %></h2>

      <div class="mt-5 input-size">
       <%= form_with model: @user, url: sign_in_path, scope: :user, local: true do |form| %>
          <div class="mb-3 row">
            <div class="col-md-3">
              <%= form.label :email, class: "form-label" %>
            </div>
            <div class="col-md-9">
              <%= form.email_field :email, class: "form-control border-dark", required: true %>
            </div>
          </div>
          
          <div class="mb-3 row">
            <div class="col-md-3">
              <%= form.label :password, class: "form-label" %>
            </div>
            <div class="col-md-9">
              <%= form.password_field :password, class: "form-control border-dark", required: true %>
            </div>
          </div>

          <div class="text-center ">
            <%= form.submit "Sign In", class: "btn btn-primary" %> 
          </div>

        <% end %>
      </div>

      <br>

    </div>
  </div>
</div>